a {
    cursor: pointer;
    color: dodgerblue;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blueviolet;
}

body {
    color: black;
    font-family: system-ui;
    margin: auto;
    width: 50%;
}

button {
    cursor: pointer;
}

nav {
    border: 1px solid dimgray;
    border-right: none;
    display: flex;
    box-orient: horizontal;
}

nav button {
    flex: auto;
    background-color:lightblue;
    border: none;
    border-right: 1px solid dimgray;
    color: teal;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

nav button:active {
    background-color: teal;
    color: lightblue;
}

button.accept {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

button.cancel {
    background-color: crimson;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

header {
    font-size: xx-large;
    border-bottom: 1px solid black;
}

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
}

footer {
    color: burlywood;
    border-top: 1px solid black;
    font-size: xx-small;
}

#info {
    color: limegreen;
}

#error {
    color: crimson;
}

.hidden {
    display: none;
}

#inbox {
    border-collapse: collapse;
}

#inbox thead {
    border-bottom: 3px solid black;
}

#inbox tbody tr {
    cursor: pointer;
    border-bottom: 1px solid darkgrey;
}

#inbox tbody td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.unread {
    font-weight: bolder;
    background-color: burlywood;
}

tr.unread td:nth-child(1)::after {
    content: "*";
}

#inbox tbody td:last-child {
    padding-left: 20px;
    border-bottom: none;
}

